{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
{#    <script src="{% static 'js/bootstrap.min.js' %}"></script>#}
{#    <script src="{% static 'js/jquery.min.js' %}"></script>#}
{#    <script src="{% static 'js/custom.min.js' %}"></script>#}
    <!-- CSS only -->
{#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">#}

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<!-- for EL-Pagination -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>

<title>Issue Site</title>
</head>

<body>
{% include 'parts/top-nav.html' %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            {% include 'parts/side-nav.html' %}
        </div>
        <div class="col-md-6">
            {% include 'parts/issue_list.html' %}
            {{ block.super }}
            <script>$.endlessPaginate({paginateOnScroll: true});</script>
        </div>
        <div class="col-md-3">
            {% include 'parts/side-rank.html' %}
        </div>
    </div>
</div>
</body>
</html>