{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">

<!-- for Bootswatch -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

<!-- for EL-Pagination -->
<script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>

<!-- for FontAwesome -->
<script src="{% static 'js/fontawesome.js' %}"></script>

<title>Issue Site</title>
</head>

<body style="padding-top: 50px">
{% include 'parts/top-nav.html' %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            {% include 'parts/side-nav.html' %}
        </div>
        <div class="col-md-6" id="content-main">
            {% include 'parts/issue_list.html' %}
            {{ block.super }}
            <script>$.endlessPaginate({paginateOnScroll: true});</script>
        </div>
        <div class="col-md-3">
            {% include 'parts/side-rank.html' %}
        </div>
    </div>
</div>
</body>
</html>