<ul class="nav nav-tabs">
    {% for community in community_list %}
        {% if forloop.counter == 1 %}
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#right_{{ community.site }}">{{ community.site }}</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#right_{{ community.site }}">{{ community.site }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
<div id="myTabContent" class="tab-content">
    {% for community in community_list %}
        {% if forloop.counter == 1 %}
            <div class="tab-pane fade show active" id="right_{{ community.site }}">
                <p>{{ community.rank }}</p>
            </div>
        {% else %}
            <div class="tab-pane fade" id="right_{{ community.site }}">
                <p>{{ community.rank }}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>