<ul class="nav nav-tabs">
    {% for site in site_list %}
        <li class="nav-item">
            <a class="nav-link
                {% if forloop.counter == 1 %}
                    active
                {% endif %}
            " data-toggle="tab" href="#right_{{ site }}">{{ site }}</a>
        </li>
    {% endfor %}
</ul>
<div id="myTabContent" class="tab-content">
    {% for site, site_info in site_list.items %}
        <div class="tab-pane fade
            {% if forloop.counter == 1 %}
                show active
            {% endif %}
        " id="right_{{ site }}">
            {% for rank in site_info %}
                <li style="list-style-type: none">{{ forloop.counter }}. <a href="{{ rank.url }}">{{ rank.title }}</a>
                </li>
            {% endfor %}
        </div>
    {% endfor %}
</div>