<div class="form-group">
{#    <div class="custom-control custom-switch">#}
{#        <input type="checkbox" class="custom-control-input" id="customSwitch" checked="">#}
{#        <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>#}
{#    </div>#}
{#    <div class="custom-control custom-switch">#}
{#        <input type="checkbox" class="custom-control-input" id="customSwitch" checked="">#}
{#        <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>#}
{#    </div>#}
{#    <div class="custom-control custom-switch">#}
{#        <input type="checkbox" class="custom-control-input" id="customSwitch" checked="">#}
{#        <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>#}
{#    </div>#}
    {% for community in community_list %}
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="{{ community.site }}" checked="">
            <label class="custom-control-label" for="{{ community.site }}">{{ community.site }}</label>
        </div>
    {% endfor %}
</div>