<div class="form-group">
    {% for community in community_list %}
        {% if community.site != 'total' %}
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="{{ community.site }}">
                <label class="custom-control-label" for="{{ community.site }}">{{ community.site }}</label>
            </div>
        {% endif %}
    {% endfor %}
    <script>
        $("input[class='custom-control-input']").click(function () {
            var checked = ("pp=" + $("#pp").is(":checked") + "&cl=" + $("#cl").is(":checked") + "&ou=" + $("#ou").is(":checked"));
            var xhr = new XMLHttpRequest();

            xhr.open("Get", "/?" + checked, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById("content-main").innerHTML = xhr.responseText;
                }
            };
            xhr.send();
        });
    </script>
</div>