<div class="form-group" style="position: fixed">
    {% for site in site_list %}
        {% if site != 'total' %}
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="{{ site }}" checked>
                <label class="custom-control-label" for="{{ site }}">{{ site }}</label>
            </div>
        {% endif %}
    {% endfor %}
    <script>
        $("input[class='custom-control-input']").click(function () {
            var keyword = input.value;
            var checked = ("pp=" + $("#pp").is(":checked") + "&cl=" + $("#cl").is(":checked") + "&ou=" + $("#ou").is(":checked"));
            var xhr = new XMLHttpRequest();
            xhr.open("Get", "/?keyword=" + keyword + "&" + checked, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById("content-main").innerHTML = xhr.responseText;
                }
            };
            xhr.send();
        });
    </script>
</div>