<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <div class="col-md-3">
            <a class="navbar-brand" href="/">Issue Collector</a>
        </div>
        <div class="input-group col-md-6">
            <input class="form-control mr-sm-2" id="issue_search" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" id="issue_search_btn" type="submit">Search</button>
            <script>
                var input = document.getElementById("issue_search");
                var btn = document.getElementById("issue_search_btn");
                input.addEventListener("keyup", function (event) {
                    // Number 13 is the "Enter" key on the keyboard
                    if (event.keyCode === 13) {
                        event.preventDefault();
                        btn.click();
                    }
                });
                btn.addEventListener("click", function (event) {
                    var xhr = new XMLHttpRequest();
                    var keyword = input.value;
                    var checked = ("pp=" + $("#pp").is(":checked") + "&cl=" + $("#cl").is(":checked") + "&ou=" + $("#ou").is(":checked"));
                    xhr.open("Get", "/?keyword=" + keyword + "&" + checked, true);
                    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            document.getElementById("content-main").innerHTML = xhr.responseText;
                        }
                    };
                    xhr.send();
                });
            </script>
        </div>
        <div class="col-md-3">
            {#            total_rank#}
        </div>
    </div>
</nav>